{
    "hostname" : "your.host.name",
    "port" : 9876,
    "api_prefix" : "api/"
    "username" : "yourUserName",
    "password" : "yourS3kr3tpA55W0rd",
    "api_key" : "0123456789abcdef0123456789abcdef"
}
